################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C-SharpBasics/.vs/C-SharpBasics
/C-SharpBasics/C-SharpBasics/obj
/C-SharpBasics/C-SharpBasics/bin/Debug/netcoreapp3.1
