################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C-SharpBasics/.vs/C-SharpBasics
/C-SharpBasics/C-SharpBasics/obj
/C-SharpBasics/C-SharpBasics/bin/Debug/netcoreapp3.1
/C-SharpBasics/.vs/ProjectEvaluation
/C-SharpBasics/Class and methods  Practice/obj
/C-SharpBasics/CSharpMethods/bin/Debug/netcoreapp3.1
/C-SharpBasics/CSharpMethods/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C-SharpBasics/CSharpMethods/obj/Debug/netcoreapp3.1
/C-SharpBasics/CSharpMethods/obj
/C-SharpBasics/Methods and classes/obj
/C-SharpBasics/ConditionalStatements/bin/Debug/netcoreapp3.1
/C-SharpBasics/ConditionalStatements/obj/Debug/netcoreapp3.1
/C-SharpBasics/ConditionalStatements/obj
/C-SharpBasics/LoopingConstructs/obj/Debug/netcoreapp3.1
/C-SharpBasics/LoopingConstructs/obj
